@model IEnumerable<AccountMicroservice.Model.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table id="accountTable" style="width:100%" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Sav_AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cur_AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a asp-controller="GetAccount" asp-route-AccountId="@item.Sav_AccountId">
                        @Html.DisplayFor(modelItem => item.Sav_AccountId)
                    </a>
                </td>
                <td>
                    <a asp-controller="GetAccount" asp-route-AccountId="@item.Cur_AccountId">
                        @Html.DisplayFor(modelItem => item.Cur_AccountId)
                        </a>
                </td>
                <td>
                    <a asp-controller="GetCustomerAccountDetails" asp-route-CustomerId="@item.CustomerId">
                        @Html.DisplayFor(modelItem => item.CustomerId)
                        </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.accountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
             

            </tr>
        }
    </tbody>
</table>


